# PBS configuration
queue: normalbw
# project: v45
walltime: 5:00:00
jobname: 01deg_jra55_iaf
ncpus: 5180
# shortpath: /short/v45

# Model configuration
name: common
model: access-om2
input: /short/public/access-om2/input_08022019/common_01deg_jra55
submodels:
    - name: atmosphere
      model: yatm
      exe: /short/public/access-om2/bin/yatm_b6caeab.exe
      input: /short/public/access-om2/input_08022019/yatm_01deg
      ncpus: 1

    - name: ocean
      model: mom
      exe: /short/public/access-om2/bin/fms_ACCESS-OM_50dc61e_libaccessom2_b6caeab.x
      input: /short/public/access-om2/input_08022019/mom_01deg
      ncpus: 4358

    - name: ice
      model: cice5
      exe: /short/public/access-om2/bin/cice_auscom_3600x2700_722p_47650cc_libaccessom2_b6caeab.exe
      input: /short/public/access-om2/input_08022019/cice_01deg
      ncpus: 799

# Collation
collate:
  walltime: 10:00:00
  mem: 128GB
  ncpus: 4
  queue: expressbw
  exe: /short/public/access-om2/bin/mppnccombine

# Misc
runlog: True
stacksize: unlimited
restart_freq: 1  # use tidy_restarts.py instead
mpirun: --mca pml yalla -x MXM_LOG_FILE=$PBS_JOBFS/mxm.log
qsub_flags: -lother=hyperthread -W umask=027
# for normalbw
platform:
   nodesize: 28
mpi:
    module: openmpi/1.10.2
#postscript: sync_output_to_gdata.sh
